.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.chatbox {
  position: fixed;
  bottom: 80px;
  /* Adjust this value according to your layout */
  right: 20px;
  width: 300px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;

  .header {
    background: rgb(98, 102, 106);
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .header-icon {
      width: 27px;
      height: 27px;
      background-color: #fff;
      border-radius: 50%;
      position: relative;

      .online {
        width: 8px;
        height: 8px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border: 1px solid white;
      }

      img {
        margin-left: 1px;
      }
    }

    h2 {
      margin: 0px;
    }

  }
}

.chatbox.open {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .chatbox-conversation {
    flex: 1;
  }
}