.chat-prompt-input {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-prompt-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.chat-prompt-input button {
  background-color: rgb(98, 102, 106);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: #000 !important;
  }

  .mat-icon {
    width: 24px;
    height: 20px
  }
}

.chat-prompt-input button:hover {
  background-color: #0056b3;
}